table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h3 {
    color: #2c2222;
}

.x-nav-bar{
    background-color: rgb(255, 76, 34);
    width: 100%;
    margin: 0 !important;
    border-bottom: 10px solid white;
}

.x-selector{
    background-color: #c9f6dc !important;
    border: 5px solid #b9f3c6 !important;
}

.x-card{
    border: 5px solid #afe1b7 !important;
    background-color: rgb(245, 254, 252) !important;

}

.x-coffee-card{
    border: 5px solid #afe1b7 !important;
    background-color: rgb(245, 254, 252) !important;
    width: max-content;
}

body{
    background-image: url("img/pokecafe-bg.png");

    background-repeat: repeat;
}

.squirtle {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.nav-pic {
    height: 150px;
    /*object-fit: cover ;*/
}