table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h3 {
    color: #fdfd1a;
}


.x-selector{
    background-color: yellow !important;
}

.x-card{
    background-color: rgb(252, 56, 56) !important;
    border: 10px solid rgb(44, 34, 34) !important;

}

.x-coffee-card{
    border: 5px solid #afe1b7 !important;
    background-color: rgb(245, 254, 252) !important;
    width: max-content;
}

body{
    background-image: url("img/pokecafe-bg.png");

    background-repeat: repeat;
}

.squirtle {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}