*{
    cursor: url("/img/pngfind.com-pokeballs-png-1357356.png"), auto;
    font-family:Pokemon-font;
    font-weight: lighter;
    -webkit-text-stroke: 1px #171b4f;
    letter-spacing: 4px;
}

@font-face {
    font-family: Pokemon-font;
    src: url("/Fonts/Pokemon-Solid.ttf") ;
}

.x-nav-bar{
    background-color: rgb(255, 76, 34);
    width: 100%;
    margin: 0 !important;
    border-bottom: 10px solid white;
}

.nav-pic {
    height: 150px;
    /*object-fit: cover ;*/
}

body{
    background-image: url("img/pokecafe-bg.png");
    background-repeat: repeat;
}

td, th {
    border: 1px solid black;
}

tbody {
    overflow: scroll;
    padding: 10px;
    padding-bottom: 45px;
    height: 92vh;
}

h1{
    color: #14d38a;
    text-align: center;
}

h3, h5, .card-text, selector {
    color: rgb(237, 213, 58);
}

.x-selector{
    background-color: #c9f6dc !important;
    border: 5px solid #b9f3c6 !important;
}

.x-card{
    border: 5px solid #afe1b7 !important;
    background-color: rgb(245, 254, 252) !important;
}

.btn{
    background-color: #c9f6dc !important;
    border: 1px solid black;
}

.x-coffee-card{
    border: 5px solid #afe1b7 !important;
    background-color: rgb(245, 254, 252) !important;
    width: max-content;
    /*margin-bottom: auto;*/
}

.squirtle {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}


